h1, h2, h3 {
	text-align: center;
	margin: 0px;
}

p {
	margin-top: 5px;
}

.content {
	padding-left: 100px;
	padding-right: 100px;
}

.button {
	background-color: #2196F3;
	border: none;
	color: white;
	padding: 10px 60px;
	border-radius: 3px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	margin-top: 0px;
}

.button:hover {
	background-color: deepskyblue;
}

.container {
	border: 1px solid #CCC;
	border: 1px solid #dadce0;
	/*background-color: green;*/
	color: black;
	padding: 30px 40px;
	border-radius: 5px;
	border-radius: 8px;
	text-align: center;
	margin: 0;
}
