.content {
	padding: 0;
}

.trapezoid {
	border-bottom: 600px solid #373737;
	border-left: 0px solid transparent;
	border-right: 25vw solid transparent;
	height: 0;
	width: 50vw;
}

body {
	background-image: url("https://camping.ehawaii.gov/camping/resources/spc,resource,31720,p,1,null,Waimanu%20valley.JPG");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 60px -400px;
}

.lighten {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.3);
}
